services:
    postgres:
                container_name: e-office-api-v2-postgres
                image: postgres:latest
                restart: unless-stopped
                environment:
                    - POSTGRES_USER=e-office-api-v2
                    - POSTGRES_PASSWORD=90d467e0d673bc1a8fba21ed
                    - POSTGRES_DB=e-office-api-v2
                ports:
                    - 5432:5432
                volumes:
                    - postgres_data:/var/lib/postgresql/data

    minio:
                container_name: e-office-api-v2-minio
                image: minio/minio:latest
                restart: unless-stopped
                environment:
                    - MINIO_ROOT_USER=minioadmin
                    - MINIO_ROOT_PASSWORD=minioadmin
                ports:
                    - 9000:9000      # API Port
                    - 9001:9001      # Console Port
                volumes:
                    - minio_data:/data
                command: server /data --console-address ":9001"
                healthcheck:
                    test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
                    interval: 30s
                    timeout: 20s
                    retries: 3

volumes:
    postgres_data:
    minio_data:
    
networks:
    default: {}